@model IEnumerable<GighubApp.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<p class="alert alert-info">Upcoming Gig</p>

@foreach (var gig in Model)
{
    <li>@gig.GigDate-@gig.Artist.Name</li>
}