@model IEnumerable<GighubApp.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<p class="alert alert-info">Upcoming Gig</p>
<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.GigDate.ToString("MMM")
                </div>
                <div class="day">
                    @gig.GigDate.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    @gig.Artist.Name
                </div>
                <div class="genre">
                    @gig.Genre.GenreName
                </div>
            </div>
        </li>
    }
</ul>